DOCKER_USERNAME=kh4erulll

# Konfigurasi Jaringan Database Docker
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=lapor_id
DB_USER=lapor_user
DB_PASSWORD=lapor_password

# Pengaturan Sesi & Tautan IP AWS Kamu
SESSION_SECRET=uas-secret-key-ganti-di-production-2024
NEXT_PUBLIC_APP_URL=http://18.141.230.52:3000