# Sample environment variables for Docker Compose
DOCKER_USERNAME=nim2388010021
DB_ROOT_PASSWORD=root_password

# Konfigurasi Database Microservices
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=lapor_id
DB_USER=lapor_user
DB_PASSWORD=lapor_password

# Otentikasi & Aplikasi Sesuai IP AWS Terbaru kamu
SESSION_SECRET=uas-secret-key-ganti-di-production-2024
NEXT_PUBLIC_APP_URL=http://18.141.230.52:3000